html {
  margin: 0;
  padding: 0
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background: white;
}
h1 {
    font-size: 200%;
    margin: 0;
    padding: 0.1em 0;
}
h1, section {
    border-bottom: 1px dashed #777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.controls {
    display: inline-block;
    background-color: #eee;
    border-radius: 0 0 0.4em 0.4em;
    padding: 0.2em 1em;
    margin: 0;
}
.bottom {
    margin: 1em 0 0;
    text-align: right;
}